<div class="jumbotron">
  <h1 class='slogan'>BlinkedIn. <br> <small>Get hired in the blink of an eye.</small></h1>
</div>

<div class ='container'>
  <p id="notice"><%= notice %></p>
<h3>Some of our wonderful users:</h3>
<ul>
  <% @users.each do |user| %>
    <% if @alumnis.any?{|a| a.user_id == user.id} %>
      <% alumni = Alumni.find_by(user_id: user.id)%>
      <li><%= link_to "#{user.first_name} #{user.last_name} (Alum)", alumni_path(alumni.id) %></li>
    <% elsif @employers.any?{|a| a.user_id == user.id} %>
      <% employer = Employer.find_by(user_id: user.id)%>
      <li><%= link_to "#{user.first_name} #{user.last_name} (Employer)", employer_path(employer.id) %></li>
    <% end %>
  <% end %>
</ul>


<h1>Awesomeness of our Group</h1>
 <canvas id="myChart" width="500" height="400"></canvas>

 <canvas id="myBarChart" width="500" height="400"></canvas>
</div>
