<div class="jumbotron">
  <div class ='container'>
    <div class="col-xs-7">
      <h1 class="title">BlinkedIn</h1>
      <h2 class="slogan">Get hired in the blink of an eye.</h2>
    </div>
  </div>
</div>



<div class ='container'>
  <p id="notice"><%= notice %></p>
  <div class='col-md-6'>
    <h1>Number of Users Registered</h1>
     <canvas id="myChart" width="250" height="400"></canvas>
  </div>
  <div class='col-md-6'>
    <h1>Number of Users with the following Skills</h1>
     <canvas id="myBarChart" width="400" height="400"></canvas>
  </div>
</div>
