
<div class="container">

<p id="notice"><%= notice %></p>
<%= react_component "EProfile", company:@employer.company_name, avatar:@employer.avatar,location:@employer.location, id:@employer.id, description:@employer.description, website:@employer.website, type:@employer.company_type%>
</div>
