/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require chosen
 *= require_self
 *= require fancybox
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "chosen";

.navbar-brand {
  width: 225px;
}

// blinking class images
.lefteye {
  margin: 0 0.5%;
  margin-top: 2%;
  width: 40px;
  min-height: 20px;
  background-image: image-url('open.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}
.lefteye:hover {
  background-image: image-url('close.png');
}

.lefteyeclose {
  margin: 0 0.5%;
  margin-top: 2%;
  width: 40px;
  min-height: 20px;
  background-image: image-url('close.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}


.col-md-4.employer {
  min-height:250px;
  background-image: image-url('the-job.png');
  background-size: contain;
  background-repeat: no-repeat;

}
.col-md-4.alumni {
  min-height:250px;
  background-image: image-url('internships.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.navbar.navbar-default {
  margin-bottom: 0;
}

//main page image display
#mainpageimage {
  height: 550px;
}
.panel1 {
  position: absolute;
  bottom: 300px;
  left: 300px;
  color: #262626;
}

#secondpageimage {
  height: 550px;
}
.panel2 {
  position: absolute;
  bottom: 350px;
  left: 50px;
  color: #262626;
}

#lastpageimage {
  height: 550px;
}
.panel3 {
  position: absolute;
  bottom: 440px;
  left: 0px;
  color: #262626;
}
