/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

// blinking class images
.lefteye {
  margin: 0 0.5%;
  margin-top: 2%;
  width: 40px;
  min-height: 20px;
  background-image: image-url('open.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}
.lefteyeclose {
  margin: 0 0.5%;
  margin-top: 2%;
  width: 40px;
  min-height: 20px;
  background-image: image-url('close.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

// moving search icon on top of search bar
#search {
  height: 27px;
  position:relative;
  left: -40px;
  top: -0.5px;
  border: none;
}
#search.btn-default:hover {
  background-color: #fff;
}

#avatar-icon {
  margin-top: 10%;
  width: 35px;
  height: 35px;
}
#avatar-link {
  margin-right: 50%;
}

body {
  background-color: #E5EEEE;
}

@media screen and (max-width: 767px) {
  #search {
    height: 27px;
    position:static;
    left: 0;
    top: 0;
    border: none;
  }
  #avatar-icon {
    margin-top: 0;
    margin-left: 2%;
    width: 35px;
    height: 35px;
  }
  #avatar-link {
    margin-right: 0;
  }
}
