/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require chosen
 *= require_self
 *= require fancybox
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "chosen";

.navbar-brand {
  width: 225px;
}

.form-control.input-sm {
  height: 28px;
}

// blinking class images
.lefteye {
  margin: 0 0.5%;
  margin-top: 2%;
  width: 40px;
  min-height: 20px;
  background-image: image-url('open.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}
.lefteye:hover {
  background-image: image-url('close.png');
}

.lefteyeclose {
  margin: 0 0.5%;
  margin-top: 2%;
  width: 40px;
  min-height: 20px;
  background-image: image-url('close.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

// account_type icons
.col-md-4.employer {
  min-height:250px;
  background-image: image-url('the-job.png');
  background-size: contain;
  background-repeat: no-repeat;

}
.col-md-4.alumni {
  min-height:250px;
  background-image: image-url('internships.png');
  background-size: contain;
  background-repeat: no-repeat;

}

// remove navbar default margin
.navbar.navbar-default {
  margin-bottom: 0;
}

// homepage image
.jumbotron {
  background-image: image-url('type.jpg');
  background-size: cover;
  height: 500px;
}
.slogan {
  margin-top: 25%;
  margin-right: 5%;
  text-align: right;
}
