@import "variables";

// skill buttons
button.skill {
  display: block;
  float: left;
  margin: 0 4px 4px 0;
}

.avatar {
  border: solid 1px $brand-primary;
  margin-right: 20px;
  float: left;
}

// q&a div of show pages
div.profile-info {
  margin-top: 30px;
  p {
    margin-bottom: 20px;
    line-height: 1.5em;
    strong {
      font-size: .9em;
      letter-spacing: .05em;
      color: $brand-primary;
    }
  }
}

h1.title {
  font-weight: 400;
}

div.title-box {
  margin-bottom: 10px;
}

div.project-name {
  text-align: center;
}


